.media { 
    width: 100%; 
    aspect-ratio: 1 / 1; 
    overflow: hidden; 
    display: block; 
    background: #f3f4f6; }

.media-img { 
    width: 100%; 
    height: 100%; 
    display: block; 
    object-fit: cover; }
